# Cache files
*.cache
**/__pycache__/

# idk what's that
python_venv/share/

# IDE
.vscode/

# venv, available in the main branch to copy activation scripts, however it isn't needed in your Branch
venv
.venv

# Byte-compiled / optimized Python files
*.pyc
*.pyo
*.pyd

# Logs and databases
*.log
*.sqlite
*.db
*.bak

# Environment variables
.env

# Compiled source for future development
*.com
*.class
*.dll
*.exe
*.o
*.so

# docks, pdf etc.
*.docx
*.docm
*.dotm
*.doc
*.pdf

# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# MATLAB
*.mat
*.mex*
*.p
*.asv
*.m~
*.asv

# Simulink
*.mdl
*.mexw*
*.slx
*.rtw
*.rtp
*.rsim
*.rsm
*.rwd
*.r201*
*_ert_rtw/
*_ert_shrlib/
**/slprj
slprj/
